name: MyPy

on:
  workflow_dispatch:

  push:
    branches: [ main ]
    paths:
      - 'src/relic/**'
      - '.github/workflows/mypy.yml'
      - 'mypy.ini'
  pull_request:
    branches: [ main ]
    paths:
      - 'src/relic/**'
      - '.github/workflows/mypy.yml'
      - 'mypy.ini'

jobs:
  mypy:
    uses: MAK-Relic-Tool/Workflows/.github/workflows/mypy.yml@main
    with:
      package: "relic.sga.v2"
